---
import Layout from '../layouts/Layout.astro';
import SnakeImg from '../assets/snake.png'
import BombImg from '../assets/bomb.png'
import { Image } from 'astro:assets';
---

<Layout>
	<div class="container">
		<header class="header mt-5">
			<h1 class="title has-text-centered">Welcome to Sigma Games</h1>
		</header>
		<div class="section">
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste aspernatur perspiciatis minus, consequatur tempore labore ratione facilis, incidunt, magni similique doloremque magnam! Vel quaerat adipisci voluptas! Corporis saepe quaerat doloribus repellat veritatis necessitatibus. Qui cupiditate nulla dolorum, voluptates, laborum placeat necessitatibus iusto magni dignissimos tempore distinctio enim aliquid nesciunt. Ex.</p>
		</div>
		<div class="section games">
			<div class="columns is-multiline">
				<div class="column is-6 has-text-centered">
					<a href=""><img src={SnakeImg.src} alt="">
						<h1>
							<strong>Snake</strong>
						</h1></a>
				</div>
				<div class="column is-6 has-text-centered">
					<a href="">
							<img src={BombImg.src} alt="" />
						<h1>
							<strong>Minesweeper</strong>
						</h1>
					</a>
				</div>
			</div>
		</div>

		<div class="section news">
			<div class="section">
				<h1 class="has-text-centered NewsHeader">News</h1>
			</div>
			<div class="columns">
				<div class="column is-5 card">
					<div class="card-image">
						<figure class="image">
							<img src={SnakeImg.src} alt="">
						</figure>
					</div>
					<div class="card-content">
						<hr>
						<div class="media-content">
							<p class="title is-4">Snake is here!</p>
							<p class="subtitle is-6">Snake is now on SIGMA GAMES play it <a href="">here!</a></p>
						</div>
						<div class="content mt-3">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nisi laudantium eos sit magni ex.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	header h1{
		color: red;
	}

	.NewsHeader {
		font-size: x-large;
		font-weight: bold;
	}

	.games img {
		height: 50%;
	}
</style>