---
import Layout from '../layouts/Layout.astro';
import MinesweeperGame from '../components/minesweeperGame.astro'
---

<Layout title='Minesweeper'>
    <h1 class="title has-text-centered">Minesweeper</h1>
    <MinesweeperGame/>

</Layout>
