---
import Layout from '../layouts/Layout.astro';
import MinesweeperGame from '../components/minesweeperGame.astro'
---

<Layout title='Minesweeper'>
    <h1 class="title has-text-centered mt-4">Minesweeper</h1>
    <MinesweeperGame/>
    <div class="spacer"></div>

</Layout>

<style>
    .spacer {
        margin-top: 400px;
    }
</style>
