---
import Layout from '../layouts/Layout.astro';
import SnakeGame from '../components/snakeGame.astro';
---

<Layout title='Snake'>
    <h1 class="title has-text-centered mt-4">Snake</h1>
    <SnakeGame/>
    <div class="spacer"></div>
</Layout>

<style>
    .spacer {
        margin-top: 400px;
    }
</style>