---

---


<footer class="footer">
    <div class="is-flex section is-justify-content-space-evenly is-flex-wrap-wrap mx-6">
        <p class="mx-2">Instagram: <a>@sigma_games</a></p>
        <p class="mx-2">Facebook: <a>sigmagames</a></p>
        <p class="mx-2">TikTok: <a>@sigma_games</a></p>
        <p class="mx-2">Tinder: <a>SigmaRizz</a></p>
    </div>
    <div class="content has-text-centered">
        <p>
        <strong>SIGMA GAMES</strong> is a <strong>SIGMA</strong> by law in all recognized countries of the world.
        </p>
    </div>
    <div class="has-text-centered">
        <p><strong>Copyright © Sigma Games 2024</strong></p>
    </div>
</footer>