---

---


<footer class="footer">
    <div class="content has-text-centered">
        <p>
        <strong>SIGMA GAMES</strong> is a <strong>SIGMA</strong> by law in all recognized countries of the world.
        </p>
    </div>
</footer>