---

---
<h3 class="title has-text-centered is-size-4">Mines left: <span class="has-text-primary" id="mines-left-text"></span></h3>
<div class="container columns is-centered">
    <div id="minesweeper-board"></div>
</div>

<script>

    const BOARD_SIZE = 10;
    const NUMBER_OF_MINES = 10;
    const GAME_SIZE = 500;


    function createBoard(boardSize: number, numberOfMines: number){
        const board = [];
        const minePositions = getMinePos(boardSize, numberOfMines);
        console.log(minePositions);
        for (let x = 0; x < boardSize; x++) {
            const row = [];
            for (let y = 0; y < boardSize; y++) {
                const element = document.createElement("div");
                updateTile(element,"hidden");
                const tile = {
                    element,
                    x,
                    y,
                    mine: minePositions.some(posMatch.bind(null, {x, y})),
                }
                row.push(tile)
            }
        board.push(row)
        }
    return board
    };

    function updateTile(element: HTMLElement, status: string) {
        element.dataset.status = status;
        
        switch(status) {
            case "hidden":
                element.style.backgroundColor = "#BBB";
                element.style.cursor = "pointer";
                break;
            case "mine":
                element.style.backgroundColor = "red";
                element.style.cursor = "default";
                break;
            case "number":
                element.style.backgroundColor = "transparent";
                element.style.cursor = "default";
                break;
            case "marked":
                element.style.backgroundColor = "yellow";
                element.style.cursor = "pointer";
                break;
        }
    }

    function getTileStatus(tile: { element: HTMLElement, x: number, y: number, mine: boolean }) {
        return tile.element.dataset.status;
    }

    function getMinePos(boardSize: number, numberOfMines: number) {
        const positions: {x: number, y: number}[] = [];
        while (positions.length < numberOfMines) {
            const position = {
                x: random(0,boardSize),
                y: random(0,boardSize),
            }

            if (!positions.some(pos => posMatch(pos, position))) {
                positions.push(position);
            }
        }
        return positions;
    }

    function posMatch(a: {x: number, y: number}, b: {x: number, y: number}) {
        return a.x === b.x && a.y === b.y;
    }


    function random(min: number, max: number) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }

    function markTile(tile: { element: HTMLElement, x: number, y: number, mine: boolean }) {
        if (getTileStatus(tile) !== "hidden" && getTileStatus(tile) !== "marked") {
            return;
        } else {
            if (getTileStatus(tile) === "marked") {
                updateTile(tile.element, "hidden");
            } else {
                updateTile(tile.element, "marked")
            }
        }

    }

    const board = createBoard(BOARD_SIZE, NUMBER_OF_MINES);
    const boardElement = document.querySelector('#minesweeper-board')! as HTMLElement;
    const minesLeftText = document.querySelector('#mines-left-text')! as HTMLElement;

    minesLeftText.textContent = NUMBER_OF_MINES.toString();

    board.forEach(row =>{
        row.forEach(tile => {
            boardElement.append(tile.element);
            tile.element.addEventListener('click', () => {

            })
            tile.element.addEventListener('contextmenu', e => {
                e.preventDefault()
                markTile(tile)
            })
        });
    });

    boardElement.style.setProperty("--size", BOARD_SIZE.toString());
    boardElement.style.setProperty("--block-size", Math.round(GAME_SIZE/BOARD_SIZE).toString() + "px");
    
    function updateBoardSize() {
        const containerWidth = boardElement.parentElement?.clientWidth || GAME_SIZE;
        const maxSize = Math.min(containerWidth - 20, GAME_SIZE);
        const newBlockSize = Math.floor((maxSize - (BOARD_SIZE + 1) * 4) / BOARD_SIZE);
        
        boardElement.style.setProperty("--block-size", newBlockSize + "px");
    }
    
    updateBoardSize();
    window.addEventListener('resize', updateBoardSize);

</script>

<style>
    #minesweeper-board {
    display: inline-grid;
    padding: 10px;
    grid-template-columns: repeat(var(--size), var(--block-size));
    grid-template-rows: repeat(var(--size), var(--block-size));
    gap: 4px;
    background-color: #777;
    }
</style>