---
import GameImage from '../assets/game.png'
---

<nav class="navbar has-shadow">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src={GameImage.src} alt="" style="max-height: 50px;">
        </a>
        <a class="navbar-burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu is-active" id="nav-links">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Games</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/snake">Snake</a>
                    <a class="navbar-item" href="/minesweeper">Minesweeper</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" id="report-button">Report issue</a>
                </div>
            </div>
            <a class="navbar-item" href="/leaderboard">Leaderboard</a>
            <a class="navbar-item" href="/contact">Contact</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button"  id="news-button">News</a>
            </div>
        </div>
    </div>


    <!-- News modal -->
    <div class="modal" id="news-modal">
        <div class="modal-background" id="news-modal-background"></div>
        <div class="modal-content py-5 px-5 has-background">
            <h3 class="title has-text-centered">Sign up for Newsletter</h3>
            <form>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control has-icons-left">
                        <input type="text" class="input" placeholder="Anders Andersson" required>
                        <span class="icon is-left is-small">
                            <i class="material-icons">person</i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left">
                        <input type="email" class="input" name="Email" placeholder="anders.andersson@sigma.com" required>
                        <span class="icon is-left is-small">
                            <i class="material-icons">email</i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-text-centered">
                        <label class="checkbox">
                            <input type="checkbox" required>
                            I agree to the <a href="">terms & conditions</a>.
                        </label>
                    </div>
                </div>
                <div class="mt-6 has-text-centered">
                    <button class="button" id="news-sign-up-button">Sign up</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Report issue modal -->
    <div class="modal" id="report-modal">
        <div class="modal-background" id="report-modal-background"></div>
        <div class="modal-content py-5 px-5 has-background">
            <h3 class="title has-text-centered">Report an issue</h3>
            <form>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control has-icons-left">
                        <input type="text" class="input" placeholder="Anders Andersson">
                        <span class="icon is-small is-left">
                            <i class="material-icons">person</i>
                        </span>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left">
                            <input type="email" class="input " name="Email" placeholder="anders.andersson@sigma.com" required>
                            <span class="icon is-small is-left">
                                <i class="material-icons">email</i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Describe the issue</label>
                        <div class="control">
                            <textarea class="textarea" required></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            <label class="checkbox">
                                <input type="checkbox" required>
                                I agree to the <a href="">terms & conditions</a>.
                            </label>
                        </div>
                    </div>
                    <div class="mt-6 has-text-centered">
                        <button class="button" id="news-sign-up-button">Report issue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</nav>

<style>
    #news-button, #news-sign-up-button{
        background-color: red;
        color: white;
    }

    .modal-content{
        border-radius: 10px;
    }
</style>

<script>
    // Mobile menu toggle
    const burgerIcon = document.querySelector('#burger')
    const navbarMenu = document.querySelector('#nav-links')
    
    burgerIcon?.addEventListener('click', () => {
        navbarMenu?.classList.toggle('is-active')
    })

    // News modal toggle
    const newsButton = document.querySelector('#news-button')
    const newsModal = document.querySelector('#news-modal')
    const newsModalBackground = document.querySelector('#news-modal-background')

    newsButton?.addEventListener('click', () => {
        newsModal?.classList.add('is-active')
    })
    
    newsModalBackground?.addEventListener('click', () => {
        newsModal?.classList.remove('is-active')
    })

    // Report modal toggle
    const reportButton = document.querySelector('#report-button')
    const reportModal = document.querySelector('#report-modal')
    const reportModalBackground = document.querySelector('#report-modal-background')

    reportButton?.addEventListener('click', () => {
        reportModal?.classList.add('is-active')
    })

    reportModalBackground?.addEventListener('click', () => {
        reportModal?.classList.remove('is-active')
    })
</script>